body { 
    margin: 0;
    --cmain: #353535;
    --cscnd: #ffffff;
    --cgray: #919191;
    --cgray2: #c9c9c9;
    --clightgray: #d8d8d8;
}

.d-flex-col {
    display: flex;
    flex-direction: column;
}
.align-c {
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

button * {
    pointer-events: none;
}

.list-tool-bar {
    padding: 0.5rem;
    background: var(--cmain);
    color:var(--cscnd);
    justify-content: end;
    display: flex;
    position: relative;
}
.list-tool-bar > button {
    color:var(--cscnd);
}

.list-config-span {
    position: absolute;
    right: 0;
    top: 100%;
    scale:0;
    display: flex;
    flex-direction: column;
    align-items: start;
    transition: scale 300ms;
    transform-origin: 80% 0%;
    background: var(--cmain);
}
.list-config-span.expanded {
    scale: 1;
    transform-origin: 80% 0%;
    transition: scale 300ms;
}

.list-config-span > button {
    margin: 0.6rem 0.4rem;
    color: var(--cscnd);
    display: flex;
    gap: 0.5rem
}

.list-head {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: var(--cgray);
}
.list-head > section {
    display: grid;
    background-color: transparent;
    gap: 0.2%;
    border: 1px solid var(--cgray);
    width: 100%;
}
.list-head > section > button {
    display: flex;
    align-items: center;
    justify-content: end;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: var(--clightgray);
}
.list-head > section > button:hover {
    background-color: var(--cscnd);
}
.list-head > section > button > svg {
    margin-right: auto;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0.5rem;
}

.item {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.item.selected > .item-content > div {
    background-color: var(--cgray2);
}

.item-content {
    background-color: var(--cgray);
    border-radius: 3px;
    display: grid;
    border: 1px solid var(--cgray);
    gap: 0.2%;
    width: 100%;
    overflow: hidden;
}

.item-content > div {
    text-align: end;
    padding: 0.5rem 0.2rem;
    background-color: var(--clightgray);
}

/**/

.blur-background {
    position: fixed;
    inset: 0;
    backdrop-filter: blur(1px);
    display: flex;
}

.blur-background > * {
    margin: auto;
}

.blur-background > section {
    background-color: var(--cscnd);
    min-width: 60%;
    min-height: 70%;
    border-radius: 5px;
}

.blur-background > section > nav {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: var(--cmain);
}
.blur-background > section > nav > * {
    margin: 0;
}

.close {
    color: var(--cscnd);
}

.blur-background form {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.custom-input {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
}

.custom-input > input {
    background-color: var(--cgray);
    padding: 0.5rem;
    border-radius: 3px;
}

.confirm {
    background-color: var(--cmain);
    color: var(--cscnd);
    border-radius: 2px;
    margin-left: auto;
    padding: 0.7rem 1rem;
}